.Card {
    align-content: center;
    margin: 40px;
    text-align: center;
    width: 149px;
    font-family: 'Assistant';
  }

.personName {
    text-align: center;
    font-size: 15px;
  }

  .Card img {
      border-radius: 50%;
      object-fit: cover;
      height:149px;
      width: 149px;
  }

  .Card h1 {
      font-weight: 600;
      font-size: 21px;
      margin-top:-2px;
      margin-bottom: 10px;
  }

  .Card h2 {
      font-weight: 400;
      font-size: 15px;
      color:#989898;
      margin-top:-13px;
  }